[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
channels = "*"
channels-redis = "*"
djangorestframework = "*"
httpx = "*"
whitenoise = "*"
django = "==5.1"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.10"
